In [2]:
import pandas as pd
import os

In [3]:
# Inputs
results_dir = r"C:\Users\mfarj\Documents\projects\aigoeswild\results"
rusmodel_report = r"res18_adam_epoch1_rus_phase1_15_test_CR.csv"
rosrusmodel_report = r"res18_adam_epoch1_ros_rus_phase1_14_test_CR.csv"

fn_combined = r"rusmodel_report_vs_rosrusmodel_report.csv"

In [14]:
# Read csvs
rus_results = pd.read_csv(os.path.join(results_dir, rusmodel_report))
rosrus_results = pd.read_csv(os.path.join(results_dir, rosrusmodel_report))

print(f"RUS results: \n{rus_results}")
print(f"ROS RUS results: \n{rosrus_results}")

RUS results:
   question__species  precision    recall  f1-score       support
0         wildebeest   0.857388  0.910700  0.883240   6047.000000
1              zebra   0.943736  0.860746  0.900333   4560.000000
2            buffalo   0.568862  0.775510  0.656304    490.000000
3             baboon   0.710526  0.648000  0.677824    125.000000
4       hyenaSpotted   0.712230  0.375000  0.491315    264.000000
5            leopard   0.000000  0.000000  0.000000      5.000000
6           elephant   0.600484  0.835017  0.698592    594.000000
7            warthog   0.504702  0.690987  0.583333    466.000000
8            giraffe   0.853211  0.711735  0.776078    392.000000
9          porcupine   0.642857  0.642857  0.642857     14.000000
10        lionFemale   0.704082  0.460000  0.556452    150.000000
11         otherBird   0.447257  0.356902  0.397004    297.000000
12            impala   0.603730  0.755102  0.670984    343.000000
13   gazelleThomsons   0.933027  0.855336  0.892494   3795.000000
14     gazelleGrants   0.452107  0.330532  0.381877    357.000000
15          mongoose   0.636364  0.333333  0.437500     21.000000
16       batEaredFox   0.363636  0.363636  0.363636     11.000000
17            jackal   0.636364  0.148936  0.241379     47.000000
18            dikDik   0.629213  0.767123  0.691358     73.000000
19       honeyBadger   0.000000  0.000000  0.000000      1.000000
20              hare   0.842105  0.592593  0.695652     27.000000
21          aardwolf   0.190476  0.444444  0.266667      9.000000
22             civet   0.000000  0.000000  0.000000      1.000000
23            duiker   0.000000  0.000000  0.000000      3.000000
24           ostrich   0.375000  0.406780  0.390244     59.000000
25              topi   0.436464  0.526667  0.477341    150.000000
26            serval   0.371429  0.433333  0.400000     30.000000
27          reedbuck   0.960000  0.421053  0.585366     57.000000
28        guineaFowl   0.748634  0.724868  0.736559    189.000000
29           cheetah   0.555556  0.344828  0.425532     58.000000
30      insectSpider   0.222222  0.425532  0.291971     47.000000
31        rhinoceros   0.250000  1.000000  0.400000      1.000000
32          aardvark   0.666667  0.200000  0.307692     10.000000
33             eland   0.467890  0.566667  0.512563     90.000000
34        hartebeest   0.675325  0.528814  0.593156    295.000000
35     secretaryBird   0.743119  0.900000  0.814070     90.000000
36      hippopotamus   0.532847  0.960526  0.685446     76.000000
37      vervetMonkey   0.000000  0.000000  0.000000     12.000000
38         waterbuck   0.000000  0.000000  0.000000      9.000000
39          lionMale   0.583333  0.194444  0.291667     36.000000
40            cattle   0.000000  0.000000  0.000000      3.000000
41      hyenaStriped   0.200000  1.000000  0.333333      3.000000
42       koriBustard   0.225166  0.629630  0.331707     54.000000
43           vulture   0.000000  0.000000  0.000000      4.000000
44           wildcat   0.000000  0.000000  0.000000      1.000000
45          bushbuck   0.166667  0.250000  0.200000      4.000000
46          reptiles   0.000000  0.000000  0.000000      2.000000
47          steenbok   0.000000  0.000000  0.000000      1.000000
48             genet   0.000000  0.000000  0.000000      1.000000
49           caracal   0.000000  0.000000  0.000000      1.000000
50           zorilla   0.000000  0.000000  0.000000      1.000000
51           rodents   0.000000  0.000000  0.000000      1.000000
52               NaN   0.811065  0.811065  0.811065      0.811065
53               NaN   0.404090  0.410993  0.378491  19377.000000
54               NaN   0.824280  0.811065  0.811856  19377.000000
ROS RUS results:
   question__species  precision    recall  f1-score       support
0         wildebeest   0.845895  0.955846  0.897516   6047.000000
1              zebra   0.916309  0.888377  0.902127   4560.000000
2            buffalo   0.827128  0.634694  0.718245    490.000000
3             baboon   0.612613  0.544000  0.576271    125.000000
4       hyenaSpotted   0.519608  0.602273  0.557895    264.000000
5            leopard   0.000000  0.000000  0.000000      5.000000
6           elephant   0.847170  0.755892  0.798932    594.000000
7            warthog   0.554783  0.684549  0.612872    466.000000
8            giraffe   0.884507  0.801020  0.840696    392.000000
9          porcupine   1.000000  0.571429  0.727273     14.000000
10        lionFemale   0.579268  0.633333  0.605096    150.000000
11         otherBird   0.509740  0.528620  0.519008    297.000000
12            impala   0.708609  0.623907  0.663566    343.000000
13   gazelleThomsons   0.931353  0.850856  0.889287   3795.000000
14     gazelleGrants   0.444444  0.403361  0.422907    357.000000
15          mongoose   0.285714  0.380952  0.326531     21.000000
16       batEaredFox   0.285714  0.181818  0.222222     11.000000
17            jackal   0.457143  0.340426  0.390244     47.000000
18            dikDik   0.636364  0.767123  0.695652     73.000000
19       honeyBadger   0.000000  0.000000  0.000000      1.000000
20              hare   0.840000  0.777778  0.807692     27.000000
21          aardwolf   1.000000  0.222222  0.363636      9.000000
22             civet   0.000000  0.000000  0.000000      1.000000
23            duiker   0.000000  0.000000  0.000000      3.000000
24           ostrich   0.538462  0.355932  0.428571     59.000000
25              topi   0.600000  0.440000  0.507692    150.000000
26            serval   0.440000  0.366667  0.400000     30.000000
27          reedbuck   0.666667  0.631579  0.648649     57.000000
28        guineaFowl   0.747423  0.767196  0.757180    189.000000
29           cheetah   0.580000  0.500000  0.537037     58.000000
30      insectSpider   0.312500  0.212766  0.253165     47.000000
31        rhinoceros   0.500000  1.000000  0.666667      1.000000
32          aardvark   0.750000  0.300000  0.428571     10.000000
33             eland   0.673077  0.388889  0.492958     90.000000
34        hartebeest   0.619433  0.518644  0.564576    295.000000
35     secretaryBird   0.831579  0.877778  0.854054     90.000000
36      hippopotamus   0.731183  0.894737  0.804734     76.000000
37      vervetMonkey   0.266667  0.333333  0.296296     12.000000
38         waterbuck   0.000000  0.000000  0.000000      9.000000
39          lionMale   0.516129  0.444444  0.477612     36.000000
40            cattle   0.000000  0.000000  0.000000      3.000000
41      hyenaStriped   0.000000  0.000000  0.000000      3.000000
42       koriBustard   0.540984  0.611111  0.573913     54.000000
43           vulture   0.000000  0.000000  0.000000      4.000000
44           wildcat   0.000000  0.000000  0.000000      1.000000
45          bushbuck   0.500000  0.500000  0.500000      4.000000
46          reptiles   0.000000  0.000000  0.000000      2.000000
47          steenbok   0.000000  0.000000  0.000000      1.000000
48             genet   0.000000  0.000000  0.000000      1.000000
49           caracal   0.000000  0.000000  0.000000      1.000000
50           zorilla   0.000000  0.000000  0.000000      1.000000
51           rodents   0.000000  0.000000  0.000000      1.000000
52               NaN   0.831656  0.831656  0.831656      0.831656
53               NaN   0.451932  0.409453  0.417872  19377.000000
54               NaN   0.831684  0.831656  0.828723  19377.000000

In [15]:

combined_results = pd.merge(left=rus_results,right=rosrus_results, how="inner", left_on="question__species",
                                right_on="question__species", suffixes=("_x", "_y"))
combined_results= combined_results[combined_results.index < 52] 
print(f"Combined: \n{combined_results}")

combined_results.to_csv(os.path.join(results_dir, fn_combined), sep=',', header=True, index=False)

Combined:
   question__species  precision_x  recall_x  f1-score_x  support_x  \
0         wildebeest     0.857388  0.910700    0.883240     6047.0
1              zebra     0.943736  0.860746    0.900333     4560.0
2            buffalo     0.568862  0.775510    0.656304      490.0
3             baboon     0.710526  0.648000    0.677824      125.0
4       hyenaSpotted     0.712230  0.375000    0.491315      264.0
5            leopard     0.000000  0.000000    0.000000        5.0
6           elephant     0.600484  0.835017    0.698592      594.0
7            warthog     0.504702  0.690987    0.583333      466.0
8            giraffe     0.853211  0.711735    0.776078      392.0
9          porcupine     0.642857  0.642857    0.642857       14.0
10        lionFemale     0.704082  0.460000    0.556452      150.0
11         otherBird     0.447257  0.356902    0.397004      297.0
12            impala     0.603730  0.755102    0.670984      343.0
13   gazelleThomsons     0.933027  0.855336    0.892494     3795.0
14     gazelleGrants     0.452107  0.330532    0.381877      357.0
15          mongoose     0.636364  0.333333    0.437500       21.0
16       batEaredFox     0.363636  0.363636    0.363636       11.0
17            jackal     0.636364  0.148936    0.241379       47.0
18            dikDik     0.629213  0.767123    0.691358       73.0
19       honeyBadger     0.000000  0.000000    0.000000        1.0
20              hare     0.842105  0.592593    0.695652       27.0
21          aardwolf     0.190476  0.444444    0.266667        9.0
22             civet     0.000000  0.000000    0.000000        1.0
23            duiker     0.000000  0.000000    0.000000        3.0
24           ostrich     0.375000  0.406780    0.390244       59.0
25              topi     0.436464  0.526667    0.477341      150.0
26            serval     0.371429  0.433333    0.400000       30.0
27          reedbuck     0.960000  0.421053    0.585366       57.0
28        guineaFowl     0.748634  0.724868    0.736559      189.0
29           cheetah     0.555556  0.344828    0.425532       58.0
30      insectSpider     0.222222  0.425532    0.291971       47.0
31        rhinoceros     0.250000  1.000000    0.400000        1.0
32          aardvark     0.666667  0.200000    0.307692       10.0
33             eland     0.467890  0.566667    0.512563       90.0
34        hartebeest     0.675325  0.528814    0.593156      295.0
35     secretaryBird     0.743119  0.900000    0.814070       90.0
36      hippopotamus     0.532847  0.960526    0.685446       76.0
37      vervetMonkey     0.000000  0.000000    0.000000       12.0
38         waterbuck     0.000000  0.000000    0.000000        9.0
39          lionMale     0.583333  0.194444    0.291667       36.0
40            cattle     0.000000  0.000000    0.000000        3.0
41      hyenaStriped     0.200000  1.000000    0.333333        3.0
42       koriBustard     0.225166  0.629630    0.331707       54.0
43           vulture     0.000000  0.000000    0.000000        4.0
44           wildcat     0.000000  0.000000    0.000000        1.0
45          bushbuck     0.166667  0.250000    0.200000        4.0
46          reptiles     0.000000  0.000000    0.000000        2.0
47          steenbok     0.000000  0.000000    0.000000        1.0
48             genet     0.000000  0.000000    0.000000        1.0
49           caracal     0.000000  0.000000    0.000000        1.0
50           zorilla     0.000000  0.000000    0.000000        1.0
51           rodents     0.000000  0.000000    0.000000        1.0

    precision_y  recall_y  f1-score_y  support_y
0      0.845895  0.955846    0.897516     6047.0
1      0.916309  0.888377    0.902127     4560.0
2      0.827128  0.634694    0.718245      490.0
3      0.612613  0.544000    0.576271      125.0
4      0.519608  0.602273    0.557895      264.0
5      0.000000  0.000000    0.000000        5.0
6      0.847170  0.755892    0.798932      594.0
7      0.554783  0.684549    0.612872      466.0
8      0.884507  0.801020    0.840696      392.0
9      1.000000  0.571429    0.727273       14.0
10     0.579268  0.633333    0.605096      150.0
11     0.509740  0.528620    0.519008      297.0
12     0.708609  0.623907    0.663566      343.0
13     0.931353  0.850856    0.889287     3795.0
14     0.444444  0.403361    0.422907      357.0
15     0.285714  0.380952    0.326531       21.0
16     0.285714  0.181818    0.222222       11.0
17     0.457143  0.340426    0.390244       47.0
18     0.636364  0.767123    0.695652       73.0
19     0.000000  0.000000    0.000000        1.0
20     0.840000  0.777778    0.807692       27.0
21     1.000000  0.222222    0.363636        9.0
22     0.000000  0.000000    0.000000        1.0
23     0.000000  0.000000    0.000000        3.0
24     0.538462  0.355932    0.428571       59.0
25     0.600000  0.440000    0.507692      150.0
26     0.440000  0.366667    0.400000       30.0
27     0.666667  0.631579    0.648649       57.0
28     0.747423  0.767196    0.757180      189.0
29     0.580000  0.500000    0.537037       58.0
30     0.312500  0.212766    0.253165       47.0
31     0.500000  1.000000    0.666667        1.0
32     0.750000  0.300000    0.428571       10.0
33     0.673077  0.388889    0.492958       90.0
34     0.619433  0.518644    0.564576      295.0
35     0.831579  0.877778    0.854054       90.0
36     0.731183  0.894737    0.804734       76.0
37     0.266667  0.333333    0.296296       12.0
38     0.000000  0.000000    0.000000        9.0
39     0.516129  0.444444    0.477612       36.0
40     0.000000  0.000000    0.000000        3.0
41     0.000000  0.000000    0.000000        3.0
42     0.540984  0.611111    0.573913       54.0
43     0.000000  0.000000    0.000000        4.0
44     0.000000  0.000000    0.000000        1.0
45     0.500000  0.500000    0.500000        4.0
46     0.000000  0.000000    0.000000        2.0
47     0.000000  0.000000    0.000000        1.0
48     0.000000  0.000000    0.000000        1.0
49     0.000000  0.000000    0.000000        1.0
50     0.000000  0.000000    0.000000        1.0
51     0.000000  0.000000    0.000000        1.0

In [16]:
combined_results.loc[combined_results['recall_x'] != combined_results['recall_y']]

,question__species,precision_x,recall_x,f1-score_x,support_x,precision_y,recall_y,f1-score_y,support_y
0,wildebeest,0.857388,0.910700,0.883240,6047.0,0.845895,0.955846,0.897516,6047.0
1,zebra,0.943736,0.860746,0.900333,4560.0,0.916309,0.888377,0.902127,4560.0
2,buffalo,0.568862,0.775510,0.656304,490.0,0.827128,0.634694,0.718245,490.0
3,baboon,0.710526,0.648000,0.677824,125.0,0.612613,0.544000,0.576271,125.0
4,hyenaSpotted,0.712230,0.375000,0.491315,264.0,0.519608,0.602273,0.557895,264.0
6,elephant,0.600484,0.835017,0.698592,594.0,0.847170,0.755892,0.798932,594.0
7,warthog,0.504702,0.690987,0.583333,466.0,0.554783,0.684549,0.612872,466.0
8,giraffe,0.853211,0.711735,0.776078,392.0,0.884507,0.801020,0.840696,392.0
9,porcupine,0.642857,0.642857,0.642857,14.0,1.000000,0.571429,0.727273,14.0
10,lionFemale,0.704082,0.460000,0.556452,150.0,0.579268,0.633333,0.605096,150.0
11,otherBird,0.447257,0.356902,0.397004,297.0,0.509740,0.528620,0.519008,297.0
12,impala,0.603730,0.755102,0.670984,343.0,0.708609,0.623907,0.663566,343.0
13,gazelleThomsons,0.933027,0.855336,0.892494,3795.0,0.931353,0.850856,0.889287,3795.0
14,gazelleGrants,0.452107,0.330532,0.381877,357.0,0.444444,0.403361,0.422907,357.0
15,mongoose,0.636364,0.333333,0.437500,21.0,0.285714,0.380952,0.326531,21.0
16,batEaredFox,0.363636,0.363636,0.363636,11.0,0.285714,0.181818,0.222222,11.0
17,jackal,0.636364,0.148936,0.241379,47.0,0.457143,0.340426,0.390244,47.0
20,hare,0.842105,0.592593,0.695652,27.0,0.840000,0.777778,0.807692,27.0
21,aardwolf,0.190476,0.444444,0.266667,9.0,1.000000,0.222222,0.363636,9.0
24,ostrich,0.375000,0.406780,0.390244,59.0,0.538462,0.355932,0.428571,59.0
25,topi,0.436464,0.526667,0.477341,150.0,0.600000,0.440000,0.507692,150.0
26,serval,0.371429,0.433333,0.400000,30.0,0.440000,0.366667,0.400000,30.0
27,reedbuck,0.960000,0.421053,0.585366,57.0,0.666667,0.631579,0.648649,57.0
28,guineaFowl,0.748634,0.724868,0.736559,189.0,0.747423,0.767196,0.757180,189.0
29,cheetah,0.555556,0.344828,0.425532,58.0,0.580000,0.500000,0.537037,58.0
30,insectSpider,0.222222,0.425532,0.291971,47.0,0.312500,0.212766,0.253165,47.0
32,aardvark,0.666667,0.200000,0.307692,10.0,0.750000,0.300000,0.428571,10.0
33,eland,0.467890,0.566667,0.512563,90.0,0.673077,0.388889,0.492958,90.0
34,hartebeest,0.675325,0.528814,0.593156,295.0,0.619433,0.518644,0.564576,295.0
35,secretaryBird,0.743119,0.900000,0.814070,90.0,0.831579,0.877778,0.854054,90.0
36,hippopotamus,0.532847,0.960526,0.685446,76.0,0.731183,0.894737,0.804734,76.0
37,vervetMonkey,0.000000,0.000000,0.000000,12.0,0.266667,0.333333,0.296296,12.0
39,lionMale,0.583333,0.194444,0.291667,36.0,0.516129,0.444444,0.477612,36.0
41,hyenaStriped,0.200000,1.000000,0.333333,3.0,0.000000,0.000000,0.000000,3.0
42,koriBustard,0.225166,0.629630,0.331707,54.0,0.540984,0.611111,0.573913,54.0
45,bushbuck,0.166667,0.250000,0.200000,4.0,0.500000,0.500000,0.500000,4.0

In [18]:
combined_results.loc[combined_results['f1-score_x'] != combined_results['f1-score_y']]

,question__species,precision_x,recall_x,f1-score_x,support_x,precision_y,recall_y,f1-score_y,support_y
0,wildebeest,0.857388,0.910700,0.883240,6047.0,0.845895,0.955846,0.897516,6047.0
1,zebra,0.943736,0.860746,0.900333,4560.0,0.916309,0.888377,0.902127,4560.0
2,buffalo,0.568862,0.775510,0.656304,490.0,0.827128,0.634694,0.718245,490.0
3,baboon,0.710526,0.648000,0.677824,125.0,0.612613,0.544000,0.576271,125.0
4,hyenaSpotted,0.712230,0.375000,0.491315,264.0,0.519608,0.602273,0.557895,264.0
6,elephant,0.600484,0.835017,0.698592,594.0,0.847170,0.755892,0.798932,594.0
7,warthog,0.504702,0.690987,0.583333,466.0,0.554783,0.684549,0.612872,466.0
8,giraffe,0.853211,0.711735,0.776078,392.0,0.884507,0.801020,0.840696,392.0
9,porcupine,0.642857,0.642857,0.642857,14.0,1.000000,0.571429,0.727273,14.0
10,lionFemale,0.704082,0.460000,0.556452,150.0,0.579268,0.633333,0.605096,150.0
11,otherBird,0.447257,0.356902,0.397004,297.0,0.509740,0.528620,0.519008,297.0
12,impala,0.603730,0.755102,0.670984,343.0,0.708609,0.623907,0.663566,343.0
13,gazelleThomsons,0.933027,0.855336,0.892494,3795.0,0.931353,0.850856,0.889287,3795.0
14,gazelleGrants,0.452107,0.330532,0.381877,357.0,0.444444,0.403361,0.422907,357.0
15,mongoose,0.636364,0.333333,0.437500,21.0,0.285714,0.380952,0.326531,21.0
16,batEaredFox,0.363636,0.363636,0.363636,11.0,0.285714,0.181818,0.222222,11.0
17,jackal,0.636364,0.148936,0.241379,47.0,0.457143,0.340426,0.390244,47.0
18,dikDik,0.629213,0.767123,0.691358,73.0,0.636364,0.767123,0.695652,73.0
20,hare,0.842105,0.592593,0.695652,27.0,0.840000,0.777778,0.807692,27.0
21,aardwolf,0.190476,0.444444,0.266667,9.0,1.000000,0.222222,0.363636,9.0
24,ostrich,0.375000,0.406780,0.390244,59.0,0.538462,0.355932,0.428571,59.0
25,topi,0.436464,0.526667,0.477341,150.0,0.600000,0.440000,0.507692,150.0
27,reedbuck,0.960000,0.421053,0.585366,57.0,0.666667,0.631579,0.648649,57.0
28,guineaFowl,0.748634,0.724868,0.736559,189.0,0.747423,0.767196,0.757180,189.0
29,cheetah,0.555556,0.344828,0.425532,58.0,0.580000,0.500000,0.537037,58.0
30,insectSpider,0.222222,0.425532,0.291971,47.0,0.312500,0.212766,0.253165,47.0
31,rhinoceros,0.250000,1.000000,0.400000,1.0,0.500000,1.000000,0.666667,1.0
32,aardvark,0.666667,0.200000,0.307692,10.0,0.750000,0.300000,0.428571,10.0
33,eland,0.467890,0.566667,0.512563,90.0,0.673077,0.388889,0.492958,90.0
34,hartebeest,0.675325,0.528814,0.593156,295.0,0.619433,0.518644,0.564576,295.0
35,secretaryBird,0.743119,0.900000,0.814070,90.0,0.831579,0.877778,0.854054,90.0
36,hippopotamus,0.532847,0.960526,0.685446,76.0,0.731183,0.894737,0.804734,76.0
37,vervetMonkey,0.000000,0.000000,0.000000,12.0,0.266667,0.333333,0.296296,12.0
39,lionMale,0.583333,0.194444,0.291667,36.0,0.516129,0.444444,0.477612,36.0
41,hyenaStriped,0.200000,1.000000,0.333333,3.0,0.000000,0.000000,0.000000,3.0
42,koriBustard,0.225166,0.629630,0.331707,54.0,0.540984,0.611111,0.573913,54.0
45,bushbuck,0.166667,0.250000,0.200000,4.0,0.500000,0.500000,0.500000,4.0

In [ ]:
combined_results.loc[combined_results['precision_x'] != combined_results['precision_y']]

In [1]:
# Compare predictions
rus_predictions = r"res18_adam_epoch1_rus_phase1_15_test_results.csv"
rosrus_predictions = r"res18_adam_epoch1_ros_rus_phase1_14_test_results.csv"

fn_combined_predictions = r"rus_predictions_vs_rosrus_predictions.csv"

In [4]:
# Read csvs
rus_predictions_df = pd.read_csv(os.path.join(results_dir, rus_predictions))
rosrus_predictions_df = pd.read_csv(os.path.join(results_dir, rosrus_predictions))

print(f"RUS results: \n{rus_predictions_df}")
print(f"ROS RUS results: \n{rosrus_predictions_df}")

RUS results:
                                              image_path  true_label  \
0      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           0
1      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           0
2      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           2
3      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...          14
4      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           1
...                                                  ...         ...
19372  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           7
19373  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...          13
19374  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           7
19375  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...          28
19376  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           1

       predicted_label
0                    0
1                    0
2                    2
3                   14
4                    0
...                ...
19372                7
19373               13
19374               42
19375               28
19376                1

[19377 rows x 3 columns]
ROS RUS results:
                                              image_path  true_label  \
0      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           0
1      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           0
2      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           2
3      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...          14
4      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           1
...                                                  ...         ...
19372  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           7
19373  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...          13
19374  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           7
19375  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...          28
19376  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...           1

       predicted_label
0                    0
1                    0
2                    2
3                   14
4                    1
...                ...
19372                7
19373               13
19374                7
19375               28
19376                1

[19377 rows x 3 columns]

In [5]:
combined_predictions_df = pd.merge(left=rus_predictions_df,right=rosrus_predictions_df, how="inner", left_on="image_path",
                                right_on="image_path", suffixes=("_x", "_y"))
print(f"Combined: \n{combined_predictions_df}")

combined_predictions_df.to_csv(os.path.join(results_dir, fn_combined_predictions), sep=',', header=True, index=False)

Combined:
                                              image_path  true_label_x  \
0      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...             0
1      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...             0
2      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...             2
3      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...            14
4      b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...             1
...                                                  ...           ...
19372  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...             7
19373  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...            13
19374  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...             7
19375  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...            28
19376  b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...             1

       predicted_label_x  true_label_y  predicted_label_y
0                      0             0                  0
1                      0             0                  0
2                      2             2                  2
3                     14            14                 14
4                      0             1                  1
...                  ...           ...                ...
19372                  7             7                  7
19373                 13            13                 13
19374                 42             7                  7
19375                 28            28                 28
19376                  1             1                  1

[19377 rows x 5 columns]

In [6]:
combined_predictions_df.loc[combined_predictions_df['true_label_x'] != combined_predictions_df['true_label_y']]

Empty DataFrame
Columns: [image_path, true_label_x, predicted_label_x, true_label_y, predicted_label_y]
Index: []

In [7]:
combined_predictions_df.loc[combined_predictions_df['predicted_label_x'] != combined_predictions_df['predicted_label_y']]

,image_path,true_label_x,predicted_label_x,true_label_y,predicted_label_y
4,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,1,0,1,1
9,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,6,6,6,0
11,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,14,25,14,10
12,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,13,24,13,0
18,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,38,33,38,34
...,...,...,...,...,...
19355,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,0,6,0,0
19358,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,1,1,1,0
19365,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,34,25,34,0
19369,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,0,6,0,0
19374,b'C:\\Users\\mfarj\\Documents\\ss_data\\snapsh...,7,42,7,7

In [13]:
combined_predictions_df.groupby('true_label_x').count()

              image_path  predicted_label_x  true_label_y  predicted_label_y
true_label_x
0                   6047               6047          6047               6047
1                   4560               4560          4560               4560
2                    490                490           490                490
3                    125                125           125                125
4                    264                264           264                264
5                      5                  5             5                  5
6                    594                594           594                594
7                    466                466           466                466
8                    392                392           392                392
9                     14                 14            14                 14
10                   150                150           150                150
11                   297                297           297                297
12                   343                343           343                343
13                  3795               3795          3795               3795
14                   357                357           357                357
15                    21                 21            21                 21
16                    11                 11            11                 11
17                    47                 47            47                 47
18                    73                 73            73                 73
19                     1                  1             1                  1
20                    27                 27            27                 27
21                     9                  9             9                  9
22                     1                  1             1                  1
23                     3                  3             3                  3
24                    59                 59            59                 59
25                   150                150           150                150
26                    30                 30            30                 30
27                    57                 57            57                 57
28                   189                189           189                189
29                    58                 58            58                 58
30                    47                 47            47                 47
31                     1                  1             1                  1
32                    10                 10            10                 10
33                    90                 90            90                 90
34                   295                295           295                295
35                    90                 90            90                 90
36                    76                 76            76                 76
37                    12                 12            12                 12
38                     9                  9             9                  9
39                    36                 36            36                 36
40                     3                  3             3                  3
41                     3                  3             3                  3
42                    54                 54            54                 54
43                     4                  4             4                  4
44                     1                  1             1                  1
45                     4                  4             4                  4
46                     2                  2             2                  2
47                     1                  1             1                  1
48                     1                  1             1                  1
49                     1                  1             1                  1
50                     1                  1             1                  1
51                     1                  1             1                  1

In [10]:
combined_predictions_df.groupby('predicted_label_x').count()

                   image_path  true_label_x  true_label_y  predicted_label_y
predicted_label_x
0                        6423          6423          6423               6423
1                        4159          4159          4159               4159
2                         668           668           668                668
3                         114           114           114                114
4                         139           139           139                139
5                           2             2             2                  2
6                         826           826           826                826
7                         638           638           638                638
8                         327           327           327                327
9                          14            14            14                 14
10                         98            98            98                 98
11                        237           237           237                237
12                        429           429           429                429
13                       3479          3479          3479               3479
14                        261           261           261                261
15                         11            11            11                 11
16                         11            11            11                 11
17                         11            11            11                 11
18                         89            89            89                 89
19                          4             4             4                  4
20                         19            19            19                 19
21                         21            21            21                 21
24                         64            64            64                 64
25                        181           181           181                181
26                         35            35            35                 35
27                         25            25            25                 25
28                        183           183           183                183
29                         36            36            36                 36
30                         90            90            90                 90
31                          4             4             4                  4
32                          3             3             3                  3
33                        109           109           109                109
34                        231           231           231                231
35                        109           109           109                109
36                        137           137           137                137
38                          2             2             2                  2
39                         12            12            12                 12
41                         15            15            15                 15
42                        151           151           151                151
43                          3             3             3                  3
45                          6             6             6                  6
47                          1             1             1                  1

In [12]:
combined_predictions_df.groupby('predicted_label_y').count()

                   image_path  true_label_x  predicted_label_x  true_label_y
predicted_label_y
0                        6833          6833               6833          6833
1                        4421          4421               4421          4421
2                         376           376                376           376
3                         111           111                111           111
4                         306           306                306           306
6                         530           530                530           530
7                         575           575                575           575
8                         355           355                355           355
9                           8             8                  8             8
10                        164           164                164           164
11                        308           308                308           308
12                        302           302                302           302
13                       3467          3467               3467          3467
14                        324           324                324           324
15                         28            28                 28            28
16                          7             7                  7             7
17                         35            35                 35            35
18                         88            88                 88            88
20                         25            25                 25            25
21                          2             2                  2             2
24                         39            39                 39            39
25                        110           110                110           110
26                         25            25                 25            25
27                         54            54                 54            54
28                        194           194                194           194
29                         50            50                 50            50
30                         32            32                 32            32
31                          2             2                  2             2
32                          4             4                  4             4
33                         52            52                 52            52
34                        247           247                247           247
35                         95            95                 95            95
36                         93            93                 93            93
37                         15            15                 15            15
39                         31            31                 31            31
41                          2             2                  2             2
42                         61            61                 61            61
43                          1             1                  1             1
45                          4             4                  4             4
46                          1             1                  1             1