In [1]:
import os
import json
from pathlib import Path
import numpy as np
import pandas as pd

pd.set_option('max_colwidth', 80)

In [2]:
# This is where our downloaded images and metadata live locally
DATA_PATH = r'C:\\Users\\mfarj\\Documents\\ss_data\\'

In [3]:
df_full_images = pd.read_csv(DATA_PATH + '\SnapshotSerengeti_v2_1_images.csv')
df_full_annotations = pd.read_csv(DATA_PATH + '\SnapshotSerengeti_v2_1_annotations.csv')

C:\Users\mfarj\AppData\Local\conda\conda\envs\thesisprep\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (8,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_full_images.columns[0]

'Unnamed: 0'

In [7]:
df_full_images.rename(columns = {'Unnamed: 0':'seq_id'}, inplace=True)

In [8]:
df_full_images.head()

,seq_id,capture_id,image_rank_in_capture,image_path_rel
0,0,SER_S1#B04#1#1,1,S1/B04/B04_R1/S1_B04_R1_PICT0001.JPG
1,1,SER_S1#B04#1#2,1,S1/B04/B04_R1/S1_B04_R1_PICT0002.JPG
2,2,SER_S1#B04#1#3,1,S1/B04/B04_R1/S1_B04_R1_PICT0003.JPG
3,3,SER_S1#B04#1#4,1,S1/B04/B04_R1/S1_B04_R1_PICT0004.JPG
4,4,SER_S1#B04#1#5,1,S1/B04/B04_R1/S1_B04_R1_PICT0005.JPG

In [9]:
df_full_images.shape

(7178440, 4)

In [10]:
df_full_images.index = df_full_images.capture_id

In [11]:
df_full_images.seq_id

capture_id
SER_S1#B04#1#1            0
SER_S1#B04#1#2            1
SER_S1#B04#1#3            2
SER_S1#B04#1#4            3
SER_S1#B04#1#5            4
                      ...
SER_S11#T11#1#129    499396
SER_S11#T11#1#130    499397
SER_S11#T11#1#131    499398
SER_S11#T11#1#131    499399
SER_S11#T11#1#131    499400
Name: seq_id, Length: 7178440, dtype: int64

In [12]:
df_full_annotations.head()

,Unnamed: 0,capture_id,season,site,roll,capture,capture_date_local,capture_time_local,subject_id,question__species,...,question__count_min,question__standing,question__resting,question__moving,question__eating,question__interacting,question__young_present,p_users_identified_this_species,pielous_evenness_index,question__horns_visible
0,0,SER_S1#B04#1#1,S1,B04,1,1,2010-07-18,16:26:14,ASG0002kjh,human,...,1,0.62,0.06,0.0,0.00,0.50,0.0,1.0,0.0,NaN
1,1,SER_S1#B04#1#2,S1,B04,1,2,2010-07-18,16:26:30,ASG0002kji,human,...,1,0.10,0.62,0.0,0.05,0.33,0.0,1.0,0.0,NaN
2,2,SER_S1#B04#1#3,S1,B04,1,3,2010-07-20,06:14:06,ASG0002kjj,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN
3,3,SER_S1#B04#1#4,S1,B04,1,4,2010-07-22,08:56:06,ASG0002kjk,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN
4,4,SER_S1#B04#1#5,S1,B04,1,5,2010-07-24,01:16:28,ASG0002kjl,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN

In [13]:
df_full_annotations.rename(columns = {'Unnamed: 0':'seq_id'}, inplace=True)

In [14]:
df_full_annotations.shape

(2688077, 22)

In [15]:
print('Annotated Sequences: ' + str(df_full_annotations.capture_id.nunique()))
# number of sequences
print('Unique Sequences: ' + str(df_full_images.capture_id.nunique()))

Annotated Sequences: 2659222
Unique Sequences: 2659222

In [14]:
df_full_images['season'] = df_full_images.capture_id.map(lambda x: x.split('#')[0])

In [17]:
df_full_images.season.value_counts().sort_index()

SER_S1     411414
SER_S10    685481
SER_S11    499401
SER_S2     573200
SER_S3     392507
SER_S4     531554
SER_S5     827224
SER_S6     462846
SER_S7     832153
SER_S8     980256
SER_S9     982404
Name: season, dtype: int64

In [ ]:
#reduce to first frame only for all sequences. Not doing this now and taking all the images in
#df_full_images = df_full_images.sort_values('file_name').groupby('seq_id').first()

In [18]:
df_full_annotations.head()

,seq_id,capture_id,season,site,roll,capture,capture_date_local,capture_time_local,subject_id,question__species,...,question__count_min,question__standing,question__resting,question__moving,question__eating,question__interacting,question__young_present,p_users_identified_this_species,pielous_evenness_index,question__horns_visible
0,0,SER_S1#B04#1#1,S1,B04,1,1,2010-07-18,16:26:14,ASG0002kjh,human,...,1,0.62,0.06,0.0,0.00,0.50,0.0,1.0,0.0,NaN
1,1,SER_S1#B04#1#2,S1,B04,1,2,2010-07-18,16:26:30,ASG0002kji,human,...,1,0.10,0.62,0.0,0.05,0.33,0.0,1.0,0.0,NaN
2,2,SER_S1#B04#1#3,S1,B04,1,3,2010-07-20,06:14:06,ASG0002kjj,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN
3,3,SER_S1#B04#1#4,S1,B04,1,4,2010-07-22,08:56:06,ASG0002kjk,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN
4,4,SER_S1#B04#1#5,S1,B04,1,5,2010-07-24,01:16:28,ASG0002kjl,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN

In [19]:
df_full_annotations.groupby(['question__species'])['seq_id'].count()

question__species
aardvark          808
aardwolf          456
baboon           3028
bat                 5
batEaredFox       601
                ...
wildcat           103
wilddog             1
wildebeest     197080
zebra          139214
zorilla            45
Name: seq_id, Length: 76, dtype: int64

In [20]:
df_count_specie = df_full_annotations.groupby(['question__species'])['seq_id'].count().reset_index(name='count').sort_values(['count'], ascending=False)

In [21]:
specie_list = [df_count_specie.loc[(df_count_specie['count'] >= 100) & (df_count_specie['count'] <= 500)]['question__species']]

In [22]:
specie_list

[1         aardwolf
 46         leopard
 9         bushbuck
 19            fire
 51        lionmale
 27      guineafowl
 35    hyenaStriped
 44     koribustard
 15          dikdik
 59        reptiles
 10         caracal
 68         vulture
 61         rodents
 71         wildcat
 16          duiker
 Name: question__species, dtype: object]

In [23]:
df_full_images = df_full_images[df_full_images.season.isin(['SER_S11'])]
df_full_annotations = df_full_annotations[df_full_annotations.capture_id.isin(df_full_images.capture_id)]

In [24]:
df_full_images.capture_id.nunique()

188231

In [25]:
df_full_annotations.capture_id.nunique()

188231

In [15]:
ss_data_host = str('https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped')
ss_data_authentication = str('?st=2020-01-01T00%3A00%3A00Z&se=2034-01-01T00%3A00%3A00Z&sp=rl&sv=2019-07-07&sr=c&sig=/DGPd%2B9WGFt6HgkemDFpo2n0M1htEXvTq9WoHlaH7L4%3D')

In [16]:
df_full_images['file_name'] = df_full_images.apply(
    lambda x: (ss_data_host + str(f'/{x.image_path_rel}') + ss_data_authentication), axis=1
)

In [28]:
df_full_images.file_name.head()

capture_id
SER_S11#B03#1#1    https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#B03#1#2    https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#B03#1#3    https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#B03#1#4    https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#B03#1#4    https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
Name: file_name, dtype: object

In [70]:
df_full_annotations.question__species.unique()

array(['blank', 'human', 'zebra', 'elephant', 'buffalo', 'porcupine',
       'jackal', 'warthog', 'baboon', 'giraffe', 'gazellethomsons',
       'impala', 'hyenaspotted', 'hartebeest', 'gazellegrants', 'leopard',
       'cheetah', 'hyenastriped', 'wildebeest', 'topi', 'duiker', 'eland',
       'dikdik', 'hippopotamus', 'fire', 'birdother', 'secretarybird',
       'monkeyvervet', 'ostrich', 'serval', 'aardvark', 'lionfemale',
       'guineafowl', 'hare', 'reedbuck', 'hyenabrown', 'insectspider',
       'lionmale', 'koribustard', 'bat', 'vulture', 'cattle', 'mongoose',
       'wilddog', 'bushbuck', 'wildcat', 'aardwolf', 'genet',
       'batearedfox', 'civet', 'rhinoceros', 'waterbuck', 'kudu',
       'pangolin', 'honeybadger', 'zorilla', 'reptiles', 'lioncub',
       'caracal', 'steenbok', 'rodents'], dtype=object)

In [25]:
from IPython.display import Image 

def look_at_random_animal_from_web(specie, random_state, width=500):
    capture_ids = df_full_annotations.loc[df_full_annotations.question__species == specie].capture_id
    if capture_ids.size == 0:
        return 'No specie matching the description'
    filenames = df_full_images.loc[capture_ids].file_name
    filename = filenames.sample(random_state=random_state).values[0]
    print(filename)
    return Image(url= str(filename), width=500, height=500)

In [18]:
df_full_images.head()

,seq_id,capture_id,image_rank_in_capture,image_path_rel,season,file_name
capture_id,,,,,,
SER_S1#B04#1#1,0,SER_S1#B04#1#1,1,S1/B04/B04_R1/S1_B04_R1_PICT0001.JPG,SER_S1,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/S1/B04/...
SER_S1#B04#1#2,1,SER_S1#B04#1#2,1,S1/B04/B04_R1/S1_B04_R1_PICT0002.JPG,SER_S1,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/S1/B04/...
SER_S1#B04#1#3,2,SER_S1#B04#1#3,1,S1/B04/B04_R1/S1_B04_R1_PICT0003.JPG,SER_S1,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/S1/B04/...
SER_S1#B04#1#4,3,SER_S1#B04#1#4,1,S1/B04/B04_R1/S1_B04_R1_PICT0004.JPG,SER_S1,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/S1/B04/...
SER_S1#B04#1#5,4,SER_S1#B04#1#5,1,S1/B04/B04_R1/S1_B04_R1_PICT0005.JPG,SER_S1,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/S1/B04/...

In [29]:
df_full_annotations.loc[df_full_annotations.capture_id == capture_id]

,seq_id,capture_id,season,site,roll,capture,capture_date_local,capture_time_local,subject_id,question__species,...,question__count_min,question__standing,question__resting,question__moving,question__eating,question__interacting,question__young_present,p_users_identified_this_species,pielous_evenness_index,question__horns_visible
253,253,SER_S1#B05#3#168,S1,B05,3,168,2010-10-16,08:30:30,ASG0002kpg,wildebeest,...,1,0.09,0.0,0.96,0.00,0.0,0.0,1.00,0.68,NaN
254,254,SER_S1#B05#3#168,S1,B05,3,168,2010-10-16,08:30:30,ASG0002kpg,zebra,...,1,0.75,0.0,0.00,0.42,0.0,0.0,0.52,0.68,NaN

In [26]:
capture_id = 'SER_S1#B05#3#168'

filenames  = df_full_images.loc[df_full_images.capture_id == capture_id].file_name

Image(url= str(filenames[0]), width=500, height=500)

In [27]:
Image(url= str(filenames[1]), width=500, height=500)

In [28]:
Image(url= str(filenames[2]), width=500, height=500)

In [31]:
df_full_images

,seq_id,capture_id,image_rank_in_capture,image_path_rel,season,file_name
capture_id,,,,,,
SER_S11#B03#1#1,0,SER_S11#B03#1#1,1,SER_S11/B03/B03_R1/SER_S11_B03_R1_IMAG0001.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#B03#1#2,1,SER_S11#B03#1#2,1,SER_S11/B03/B03_R1/SER_S11_B03_R1_IMAG0002.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#B03#1#3,2,SER_S11#B03#1#3,1,SER_S11/B03/B03_R1/SER_S11_B03_R1_IMAG0003.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#B03#1#4,3,SER_S11#B03#1#4,1,SER_S11/B03/B03_R1/SER_S11_B03_R1_IMAG0004.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#B03#1#4,4,SER_S11#B03#1#4,2,SER_S11/B03/B03_R1/SER_S11_B03_R1_IMAG0005.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
...,...,...,...,...,...,...
SER_S11#T11#1#129,499396,SER_S11#T11#1#129,1,SER_S11/T11/T11_R1/SER_S11_T11_R1_IMAG0332.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#T11#1#130,499397,SER_S11#T11#1#130,1,SER_S11/T11/T11_R1/SER_S11_T11_R1_IMAG0333.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#T11#1#131,499398,SER_S11#T11#1#131,1,SER_S11/T11/T11_R1/SER_S11_T11_R1_IMAG0334.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#T11#1#131,499399,SER_S11#T11#1#131,2,SER_S11/T11/T11_R1/SER_S11_T11_R1_IMAG0335.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...
SER_S11#T11#1#131,499400,SER_S11#T11#1#131,3,SER_S11/T11/T11_R1/SER_S11_T11_R1_IMAG0336.JPG,SER_S11,https://lilablobssc.blob.core.windows.net/snapshotserengeti-unzipped/SER_S11...

In [34]:
IMG_DIR = r'C:/'
df_full_images['file_name_local'] = df_full_images.apply(
    lambda x: (IMG_DIR + '/' + x.image_path_rel), axis=1
)

In [5]:
look_at_random_animal_from_web(specie='zebra', random_state=234)

NameError: name 'look_at_random_animal_from_web' is not defined

In [37]:
from PIL import Image

In [45]:
img_file = r'C:\Users\mfarj\Documents\ss_data\per_camera\snapshotserengeti-unzipped\snapshotserengeti-unzipped\SER_S11\F04\F04_R1\SER_S11_F04_R1_IMAG0065.JPG'

In [46]:
I = np.asarray(Image.open(img_file))

In [48]:
I.shape

(1920, 2560, 3)

In [49]:
img_file2 = r'C:\Users\mfarj\Documents\ss_data\per_camera\snapshotserengeti-unzipped\snapshotserengeti-unzipped\SER_S11\F04\F04_R1\SER_S11_F04_R1_IMAG0022.JPG'
I2 = np.asarray(Image.open(img_file2))
I2.shape

(1920, 2560, 3)

In [51]:
df_full_annotations.columns

Index(['seq_id', 'capture_id', 'season', 'site', 'roll', 'capture',
       'capture_date_local', 'capture_time_local', 'subject_id',
       'question__species', 'question__count_max', 'question__count_median',
       'question__count_min', 'question__standing', 'question__resting',
       'question__moving', 'question__eating', 'question__interacting',
       'question__young_present', 'p_users_identified_this_species',
       'pielous_evenness_index', 'question__horns_visible'],
      dtype='object')

In [52]:
df_full_annotations

,seq_id,capture_id,season,site,roll,capture,capture_date_local,capture_time_local,subject_id,question__species,...,question__count_min,question__standing,question__resting,question__moving,question__eating,question__interacting,question__young_present,p_users_identified_this_species,pielous_evenness_index,question__horns_visible
2497385,0,SER_S11#B03#1#1,SER_S11,B03,1,1,2015-08-05,10:41:29,18837479,blank,...,NaN,0.07,0.00,0.07,0.0,0.00,0.0,0.83,0.0,NaN
2497386,1,SER_S11#B03#1#2,SER_S11,B03,1,2,2015-08-05,10:41:40,18837481,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.75,0.0,NaN
2497387,2,SER_S11#B03#1#3,SER_S11,B03,1,3,2015-08-05,10:41:45,18837482,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.75,0.0,NaN
2497388,3,SER_S11#B03#1#4,SER_S11,B03,1,4,2015-08-05,10:42:11,18837483,human,...,NaN,0.62,0.00,0.38,0.0,0.23,0.0,1.00,0.0,NaN
2497389,4,SER_S11#B03#1#5,SER_S11,B03,1,5,2015-08-05,10:44:02,18837484,blank,...,NaN,0.07,0.07,0.07,0.0,0.00,0.0,0.75,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2688072,190687,SER_S11#T11#1#127,SER_S11,T11,1,127,2015-11-17,18:06:12,31711348,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.0,NaN
2688073,190688,SER_S11#T11#1#128,SER_S11,T11,1,128,2015-11-17,18:24:16,31711350,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.0,NaN
2688074,190689,SER_S11#T11#1#129,SER_S11,T11,1,129,2015-11-17,18:27:05,31711353,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.0,NaN
2688075,190690,SER_S11#T11#1#130,SER_S11,T11,1,130,2015-11-17,18:57:53,31711355,blank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.0,NaN
2688076,190691,SER_S11#T11#1#131,SER_S11,T11,1,131,2015-11-18,10:23:36,31711358,human,...,NaN,0.70,0.00,0.40,0.0,0.00,0.0,1.00,0.0,NaN

In [ ]:
# drop 90% of blank to avoid over-predicintg blank
to_drop_train = train_gen_df[(train_gen_df["empty"] == 1)].sample(frac=.9, random_state=123).index
train_gen_df = train_gen_df.drop(to_drop_train)

train_gen_df.mean(axis=0).sort_values(ascending=False)